/* Set the entire page's background color to rgb(135, 206, 235) using the :root pseudo-class. */
:root {
  background-color: rgb(135, 206, 235);
}

/* Article with Paragraphs */
article {
  width: 50%;
  margin: 0 auto;
}

p:first-child {
  color: white;
  background-color: black;
}

p:nth-child(2) {
  color: black;
  background-color: white;
}

p:last-child {
  color: red;
  background-color: white;
}

/* Unordered List */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 50%;
  padding: 10px;
  background-color: gray;
}

li:nth-child(odd) {
  background-color: white;
}

li:first-child,
li:last-child {
  font-size: 22px;
}

li:nth-last-child(3) {
  background-color: pink;
}